<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391302179681-b7tasmpo6u40vsoa4vmorgrp0nqoi68f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391302179681-b7tasmpo6u40vsoa4vmorgrp0nqoi68f</string>
	<key>API_KEY</key>
	<string>AIzaSyBYmRvisysCEl8R8tkLUPT7ztHlb_cGZBM</string>
	<key>GCM_SENDER_ID</key>
	<string>391302179681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eneff.app.example</string>
	<key>PROJECT_ID</key>
	<string>example-d79fd</string>
	<key>STORAGE_BUCKET</key>
	<string>example-d79fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391302179681:ios:d3009b00b0ca2ce6</string>
	<key>DATABASE_URL</key>
	<string>https://example-d79fd.firebaseio.com</string>
</dict>
</plist>